/ignore
/.vscode/
/servidor/target
/servidor/target-win
/env
/linenv
/documentación/EDT.svg
/documentación/EDT.png
__pycache__/
/.secrets/
/db-data/
*.code-workspace
/ehuvpf-projects
/servidor/ehuvpf/api/migrations
/mariadb-data