/ignore
/.vscode/
/servidor/target
/servidor/target-win
/env
/linenv
/documentación/EDT.svg
/documentación/EDT.png
/documentación/casos-uso-actores.png
/documentación/casos-uso.png
/documentación/diagrama-clases.png
/documentación/Entidad-relacion.png
__pycache__/
/.secrets/
/db-data/
*.code-workspace
/ehuvpf-projects
/servidor/ehuvpf/api/migrations
