/ignore
/.vscode/
/servidor/target
/servidor/target-win
/env
/linenv
/documentación/EDT.svg
/documentación/EDT.png
/documentación/casos-uso-actores.png
/documentación/casos-uso.png
/documentación/diagrama-clases.png
/documentación/Entidad-relacion.png
__pycache__/
/.secrets/
/docker/apachedjango/.secrets
/docker/db/.secrets
/db-data/
*.code-workspace
/ehuvpf-projects
/servidor/ehuvpf/api/migrations
/mariadb-data
/servidor/ehuvpf/locale/eu_ES/LC_MESSAGES/django.mo
/servidor/ehuvpf/locale/eu_ES/LC_MESSAGES/djangojs.mo
/pais-vasco-latest.osm.pbf
