/* Elimina todos los checkbox

Esto es para generar un checkbox personalizado luego
estilizando el span, en vez de el checkbox
*/
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* El primer span después de un checkbox.

Para que funcione, el texto del label debe estar después del checkbox
*/
input[type="checkbox"]+span {
    outline: 2px solid black;
    background-color: lightgray;
    box-sizing: border-box;
    margin-bottom: 50px;
    height: 50px;
}

input[type="checkbox"]:checked+span {
    outline: 2px solid blue;
    background-color: lightblue;
}

/* El primer span después de un radio.

Para que funcione, el texto del label debe estar después del radio
*/
input[type="radio"]:checked+span {
    background-color: lightblue;
}
